<a href="http://govwizely.github.io/explorer/#/country-commercial-guides" target="_blank" style="float:right;">New Search</a>
{{#with document}}
<h1>{{pdf_section}}</h1>
<h3>{{section_title}}</h3>
<ul class="tags">
  <li><a class="tag">{{country_full}}</a></li>
  <li><a class="tag">{{topic}}</a></li>
</ul>
<hr>
<p>{{{content}}}</p>
{{/with}}
