<h3><a href="#" {{action "toggleBody"}}>{{document.searchResultHeader}}</a></h3>
{{#if expanded}}
  {{#with document}}
    <table class="pure-table pure-table-bordered">
      {{#if source}}
        <tr><td>Source</td><td>{{source}}</td></tr>
      {{/if}}
      {{#if start_date}}
        <tr><td>Start Date</td><td>{{start_date}}</td></tr>
      {{/if}}
      {{#if end_date}}
        <tr><td>End Date</td><td>{{end_date}}</td></tr>
      {{/if}}

      {{#if entity_number}}
        <tr><td>Entity Number</td><td>{{entity_number}}</td></tr>
      {{/if}}
      {{#if type}}
        <tr><td>Type</td><td>{{type}}</td></tr>
      {{/if}}
      {{#if title}}
        <tr><td>Title</td><td>{{title}}</td></tr>
      {{/if}}


      {{#if federal_register_notice}}
        <tr><td>Federal Register Notice</td><td>{{federal_register_notice}}</td></tr>
      {{/if}}
      {{#if standard_order}}
        <tr><td>Standard Order</td><td>{{standard_order}}</td></tr>
      {{/if}}
      {{#if license_requirement}}
        <tr><td>License Requirement</td><td>{{license_requirement}}</td></tr>
      {{/if}}
      {{#if license_policy}}
        <tr><td>License Policy</td><td>{{license_policy}}</td></tr>
      {{/if}}
      {{#if call_sign}}
        <tr><td>Call Sign</td><td>{{call_sign}}</td></tr>
      {{/if}}
      {{#if vessel_type}}
        <tr><td>Vessel Type</td><td>{{vessel_type}}</td></tr>
      {{/if}}
      {{#if gross_tonnage}}
        <tr><td>Gross Tonnage</td><td>{{gross_tonnage}}</td></tr>
      {{/if}}
      {{#if gross_registered_tonnage}}
        <tr><td>Gross Registered Tonnage</td><td>{{gross_registered_tonnage}}</td></tr>
      {{/if}}
      {{#if vessel_flag}}
        <tr><td>Vessel Flag</td><td>{{vessel_flag}}</td></tr>
      {{/if}}
      {{#if vessel_owner}}
        <tr><td>Vessel Owner</td><td>{{vessel_owner}}</td></tr>
      {{/if}}
      {{#if remarks}}
        <tr><td>Remarks</td><td>{{remarks}}</td></tr>
      {{/if}}
      {{#if source_list_url}}
        <tr><td>Source List URL</td><td><a href="{{unbound source_list_url}}" target="_blank">{{source_list_url}}</a></td></tr>
      {{/if}}
      {{#if source_information_url}}
        <tr><td>Source Information URL</td><td><a href="{{unbound source_information_url}}" target="_blank">{{source_information_url}}</a></td></tr>
      {{/if}}

      {{search-result-row-list label="Programs" items=programs}}
      {{search-result-row-list label="Alternative Names" items=alt_names}}
      {{search-result-row-list label="Nationalities" items=nationalities}}
      {{search-result-row-list label="Citizenships" items=citizenships}}
      {{search-result-row-list label="Dates of Birth" items=dates_of_birth}}
      {{search-result-row-list label="Places of Birth" items=places_of_birth}}

      {{#if addresses}}
        <tr><td>Addresses</td><td>
          <ol>
          {{#each a in addresses}}
            <li><ul>
              {{#if a.address}}
                <li>{{a.address}}</li>
              {{/if}}
              {{#if a.city}}
                <li>{{a.city}}</li>
              {{/if}}
              {{#if a.state}}
                <li>{{a.state}}</li>
              {{/if}}
              {{#if a.postal_code}}
                <li>{{a.postal_code}}</li>
              {{/if}}
              {{#if a.country}}
                <li>{{a.country}}</li>
              {{/if}}
            </ul></li>
          {{/each}}
          </ol>
        </td></tr>
      {{/if}}

      {{#if identifications}}
        <tr><td>IDs</td><td>
          <ol>
          {{#each id in identifications}}
            <li>
            <table class="identification">
              {{#if id.type}}
                <tr><td>Type: </td><td>{{id.type}}</td></tr>
              {{/if}}
              {{#if id.number}}
                <tr><td>Number: </td><td>{{id.number}}</td></tr>
              {{/if}}
              {{#if id.country}}
                <tr><td>Country: </td><td>{{id.country}}</td></tr>
              {{/if}}
              {{#if id.issue_date}}
                <tr><td>Issue Date: </td><td>{{id.issue_date}}</td></tr>
              {{/if}}
              {{#if id.expiration_date}}
                <tr><td>Expiration Date: </td><td>{{id.expiration_date}}</td></tr>
              {{/if}}
            </table>
            </li>
          {{/each}}
          </ol>
        </td></tr>
      {{/if}}

      {{#if score}}
          <tr><td>Score</td><td>{{score}}</td></tr>
      {{/if}}

    </table>
  {{/with}}
{{/if}}
