<h3><a href="#" {{action "toggleBody"}}>{{document.searchResultHeader}}</a></h3>
{{#if expanded}}
  {{#with document}}
    <table class="pure-table pure-table-bordered">

      {{#if question}}
        <tr><td>Question</td><td>{{question}}</td></tr>
      {{/if}}

       {{#if answer}}
        <tr><td>Answer</td><td>{{answer}}</td></tr>
      {{/if}}

      {{#if first_published_date}}
        <tr><td>First Published Date</td><td>{{first_published_date}}</td></tr>
      {{/if}}

      {{#if last_published_date}}
        <tr><td>Last Published Date</td><td>{{last_published_date}}</td></tr>
      {{/if}}

      {{#if url}}
        <tr><td>URL</td><td>{{url}}</td></tr>
      {{/if}}

      {{#if industries}}
        {{search-result-row-list label="Industries" items=industries}}
      {{/if}}

      {{#if topics}}
        {{search-result-row-list label="Topics" items=topics}}
      {{/if}}

      {{#if countries}}
        {{search-result-row-list label="Countries" items=countries}}
      {{/if}}

      {{#if trade_regions}}
        {{search-result-row-list label="Trade Regions" items=trade_regions}}
      {{/if}}

      {{#if world_regions}}
        {{search-result-row-list label="World Regions" items=world_regions}}
      {{/if}}

    </table>
  {{/with}}
{{/if}}
