<h3><a href="#" {{action "toggleBody"}}>{{document.searchResultHeader}}</a></h3>
{{#if expanded}}
  {{#with document}}
    <table class="pure-table pure-table-bordered">

      {{#if id}}
        <tr><td>ID</td><td>{{id}}</td></tr>
      {{/if}}

      {{#if name}}
        <tr><td>Name</td><td>{{name}}</td></tr>
      {{/if}}

      {{#if taxonomy}}
          <tr><td>Taxonomy</td><td>{{taxonomy}}</td></tr>
      {{/if}}

      {{search-result-row-list label="Parent Names" items=parent_names}}

    </table>
  {{/with}}
{{/if}}
