<h3><a href="#" {{action "toggleBody"}}>{{document.searchResultHeader}}</a></h3>
{{#if expanded}}
  {{#with document}}
    <table class="pure-table pure-table-bordered">

      {{#if title}}
        <tr><td>Title</td><td>{{title}}</td></tr>
      {{/if}}

      {{#if description}}
        <tr><td>Description</td><td>{{description}}</td></tr>
      {{/if}}

      {{#if url}}
        <tr><td>URL</td><td><a href="{{unbound url}}" target="_blank">{{url}}</a></td></tr>
      {{/if}}

      {{#if industries}}
        {{search-result-row-list label="Industries" items=industries}}
      {{/if}}

      {{#if ita_industries}}
        {{search-result-row-list label="ITA Industries" items=ita_industries}}
      {{/if}}

      {{#if countries}}
        {{search-result-row-list label="Countries" items=countries}}
      {{/if}}

      {{#if expiration_date}}
        <tr><td>Expiration Date</td><td>{{expiration_date}}</td></tr>
      {{/if}}

      {{#if report_type}}
        <tr><td>Report Type</td><td>{{report_type}}</td></tr>
      {{/if}}

    </table>
  {{/with}}
{{/if}}
