<h3><a href="#" {{action "toggleBody"}}>{{document.searchResultHeader}}</a></h3>
{{#if expanded}}
  {{#with document}}
    <table class="pure-table pure-table-bordered">

      {{#if title}}
        <tr><td>Title</td><td>{{title}}</td></tr>
      {{/if}}

      {{#if short_title}}
        <tr><td>Short Title</td><td>{{short_title}}</td></tr>
      {{/if}}

      {{#if summary}}
        <tr><td>Summary</td><td>{{summary}}</td></tr>
      {{/if}}

      {{#if creation_date}}
        <tr><td>Creation Date</td><td>{{creation_date}}</td></tr>
      {{/if}}

      {{#if release_date}}
        <tr><td>Release Date</td><td>{{release_date}}</td></tr>
      {{/if}}

      {{#if expiration_date}}
        <tr><td>Expiration Date</td><td>{{expiration_date}}</td></tr>
      {{/if}}

      {{search-result-row-list label="Source Agencies" items=source_agencies}}
      {{search-result-row-list label="Source Business Units" items=source_business_units}}
      {{search-result-row-list label="Source Offices" items=source_offices}}

      {{#if evergreen}}
        <tr><td>Evergreen</td><td>{{evergreen}}</td></tr>
      {{/if}}

      {{#if content}}
        <tr><td>Content</td><td>{{content}}</td></tr>
      {{/if}}

      {{#if keyword}}
        <tr><td>Keyword</td><td>{{keyword}}</td></tr>
      {{/if}}

      {{search-result-row-list label="Export Phases" items=export_phases}}
      {{search-result-row-list label="Industries" items=industries}}
      {{search-result-row-list label="Trade Regions" items=trade_regions}}
      {{search-result-row-list label="Trade Programs" items=trade_programs}}
      {{search-result-row-list label="Trade Initiatives" items=trade_initiatives}}
      {{search-result-row-list label="Geo Regions" items=geo_regions}}
      {{search-result-row-list label="Geo Subregions" items=geo_subregions}}
      {{search-result-row-list label="Topics" items=topics}}
      {{search-result-row-list label="Subtopics" items=sub_topics}}

      {{#if seo_metadata_title}}
        <tr><td>SEO Metadata Title</td><td>{{seo_metadata_title}}</td></tr>
      {{/if}}

      {{#if seo_metadata_description}}
        <tr><td>SEO Metadata Description</td><td>{{seo_metadata_description}}</td></tr>
      {{/if}}

      {{#if seo_metadata_keyword}}
        <tr><td>SEO Metadata Keyword</td><td>{{seo_metadata_keyword}}</td></tr>
      {{/if}}

      {{#if trade_url}}
        <tr><td>Trade URL</td><td>{{trade_url}}</td></tr>
      {{/if}}

      {{search-result-row-list label="File URL" items=file_url}}
      {{search-result-row-list label="Image URL" items=image_url}}
      {{search-result-row-list label="HTML Source URL" items=url_html_source}}
      {{search-result-row-list label="XML Source URL" items=url_xml_source}}

    </table>
  {{/with}}
{{/if}}
