<h3><a href="#" {{action "toggleBody"}}>{{document.searchResultHeader}}</a></h3>
{{#if expanded}}
  {{#with document}}
    <table class="pure-table pure-table-bordered">

      {{#if source}}
        <tr><td>Source</td><td>{{source}}</td></tr>
      {{/if}}

      {{#if source_id}}
        <tr><td>Source ID</td><td>{{source_id}}</td></tr>
      {{/if}}

      {{#if tariff_line}}
        <tr><td>Tariff Line</td><td>{{tariff_line}}</td></tr>
      {{/if}}

      {{#if subheading_description}}
        <tr><td>Subheading Description</td><td>{{subheading_description}}</td></tr>
      {{/if}}

      {{#if hs_6}}
        <tr><td>HS 6</td><td>{{hs_6}}</td></tr>
      {{/if}}

      {{#if base_rate}}
        <tr><td>Base Rate</td><td>{{base_rate}}</td></tr>
      {{/if}}

      {{#if base_rate_alt}}
        <tr><td>Base Rate (Alternative)</td><td>{{base_rate_alt}}</td></tr>
      {{/if}}

      {{#if final_year}}
        <tr><td>Final Year</td><td>{{final_year}}</td></tr>
      {{/if}}

      {{#if staging_basket}}
        <tr><td>Staging Basket</td><td>{{staging_basket}}</td></tr>
      {{/if}}

      {{#if tariff_rate_quota}}
        <tr><td>Tariff Rate Quota</td><td>{{tariff_rate_quota}}</td></tr>
      {{/if}}

      {{#if tariff_rate_quota_note}}
        <tr><td>Tariff Rate Quota Note</td><td>{{tariff_rate_quota_note}}</td></tr>
      {{/if}}

      {{#if tariff_eliminated}}
        <tr><td>Tariff Eliminated</td><td>{{tariff_eliminated}}</td></tr>
      {{/if}}

      {{#if partner_name}}
        <tr><td>Partner Name</td><td>{{partner_name}}</td></tr>
      {{/if}}

      {{#if reporter_name}}
        <tr><td>Reporter Name</td><td>{{reporter_name}}</td></tr>
      {{/if}}

      {{#if partner_start_year}}
        <tr><td>Partner Start Year</td><td>{{partner_start_year}}</td></tr>
      {{/if}}

      {{#if reporter_start_year}}
        <tr><td>Reporter Start Year</td><td>{{reporter_start_year}}</td></tr>
      {{/if}}

      {{#if partner_agreement_name}}
        <tr><td>Partner Agreement Name</td><td>{{partner_agreement_name}}</td></tr>
      {{/if}}

      {{#if reporter_agreement_name}}
        <tr><td>Reporter Agreement Name</td><td>{{reporter_agreement_name}}</td></tr>
      {{/if}}

      {{#if quota_name}}
        <tr><td>Quota Name</td><td>{{quota_name}}</td></tr>
      {{/if}}

      {{#if rule_text}}
        <tr><td>Rule Text</td><td>{{rule_text}}</td></tr>
      {{/if}}

      {{#if link_text}}
        <tr><td>Link Text</td><td>{{link_text}}</td></tr>
      {{/if}}

      {{#if link_url}}
        <tr><td>Link URL</td><td><a href="{{unbound link_url}}" target="_blank">{{link_url}}</a></td></tr>
      {{/if}}

      {{#if annual_rates}}
        <tr><td>Annual Rates</td><td>
          <ul>
            {{#each ar in annual_rates}}
              {{#if ar.value}}
                <li>{{ar.year}}: {{ar.value}}</li>
              {{/if}}
            {{/each}}
          </ul>
        </td></tr>
      {{/if}}

      {{#if annual_rates_alt}}
        <tr><td>Annual Rates (Alternative)</td><td>
          <ul>
            {{#each ar in annual_rates_alt}}
              {{#if ar.value}}
                <li>{{ar.year}}: {{ar.value}}</li>
              {{/if}}
            {{/each}}
          </ul>
        </td></tr>
      {{/if}}

    </table>
  {{/with}}
{{/if}}
