<h3><a href="#" {{action "toggleBody"}}>{{document.searchResultHeader}}</a></h3>
{{#if expanded}}
  {{#with document}}
    <table class="pure-table pure-table-bordered">

      {{#if source_id}}
        <tr><td>Source id</td><td>{{source_id}}</td></tr>
      {{/if}}
      {{#if tariff_line}}
        <tr><td>Tariff line</td><td>{{tariff_line}}</td></tr>
      {{/if}}
      {{#if hs_6}}
        <tr><td>HS 6</td><td>{{hs_6}}</td></tr>
      {{/if}}
      {{#if sector_code}}
        <tr><td>Sectorcode</td><td>{{sector_code}}</td></tr>
      {{/if}}
      {{#if base_rate}}
        <tr><td>Base rate</td><td>{{base_rate}}</td></tr>
      {{/if}}
      {{#if base_rate_alt}}
        <tr><td>Base rate (alternative)</td><td>{{base_rate_alt}}</td></tr>
      {{/if}}
      {{#if final_year}}
        <tr><td>Final year</td><td>{{final_year}}</td></tr>
      {{/if}}
      {{#if tariff_lines_per_6_digit}}
        <tr><td>Tariff lines per 6 digit</td><td>{{tariff_lines_per_6_digit}}</td></tr>
      {{/if}}
      {{#if tariff_rate_quota}}
        <tr><td>Tariff rate quota</td><td>{{tariff_rate_quota}}</td></tr>
      {{/if}}
      {{#if tariff_rate_quota_note}}
        <tr><td>Tariff rate quota note</td><td>{{tariff_rate_quota_note}}</td></tr>
      {{/if}}
      {{#if tariff_eliminated}}
        <tr><td>Tariff eliminated</td><td>{{tariff_eliminated}}</td></tr>
      {{/if}}
      {{#if product_type_id}}
        <tr><td>Product type id</td><td>{{product_type_id}}</td></tr>
      {{/if}}
      {{#if pending_data}}
        <tr><td>Pending data</td><td>{{pending_data}}</td></tr>
      {{/if}}
      {{#if ag_id}}
        <tr><td>AG id</td><td>{{ag_id}}</td></tr>
      {{/if}}
      {{#if partner_name}}
        <tr><td>Partner name</td><td>{{partner_name}}</td></tr>
      {{/if}}
      {{#if reporter_name}}
        <tr><td>Reporter name</td><td>{{reporter_name}}</td></tr>
      {{/if}}
      {{#if staging_basket}}
        <tr><td>Staging basket</td><td>{{staging_basket}}</td></tr>
      {{/if}}
      {{#if staging_basket_id}}
        <tr><td>Staging basket id</td><td>{{staging_basket_id}}</td></tr>
      {{/if}}
      {{#if num_mar_columns}}
        <tr><td>Number mar columns</td><td>{{num_mar_columns}}</td></tr>
      {{/if}}
      {{#if partner_start_year}}
        <tr><td>Partner start year</td><td>{{partner_start_year}}</td></tr>
      {{/if}}
      {{#if reporter_start_year}}
        <tr><td>Reporter start year</td><td>{{reporter_start_year}}</td></tr>
      {{/if}}
      {{#if partner_agreement_name}}
        <tr><td>Partner agreement name</td><td>{{partner_agreement_name}}</td></tr>
      {{/if}}
      {{#if reporter_agreement_name}}
        <tr><td>Reporter agreement name</td><td>{{reporter_agreement_name}}</td></tr>
      {{/if}}
      {{#if partner_agreement_approved}}
        <tr><td>Partner agreement approved</td><td>{{partner_agreement_approved}}</td></tr>
      {{/if}}
      {{#if reporter_agreement_approved}}
        <tr><td>Reporter agreement approved</td><td>{{reporter_agreement_approved}}</td></tr>
      {{/if}}
      {{#if rule_text}}
        <tr><td>Rule text</td><td>{{rule_text}}</td></tr>
      {{/if}}
      {{#if link_text}}
        <tr><td>Link text</td><td>{{link_text}}</td></tr>
      {{/if}}
      {{#if link_url}}
        <tr><td>Link url</td><td><a href="{{unbound link_url}}" target="_blank">{{link_url}}</a></td></tr>
      {{/if}}
      {{#if quota_name}}
        <tr><td>Quota name</td><td>{{quota_name}}</td></tr>
      {{/if}}
      {{#if section_title}}
        <h3>{{section_title}}</h3>
      {{/if}}
      {{#if section_url}}
        <a href="{{unbound section_url}}" target="_blank">{{section_url}}</a>
      {{/if}}

      {{#if annual_rates}}
        <tr><td>Annual Rates</td><td>
          <ul>
            {{#each ar in annual_rates}}
              <li>{{ar.year}}: {{ar.value}}</li>
            {{/each}}
          </ul>
        </td></tr>
      {{/if}}
      {{#if alt_annual_rates}}
        <tr><td>Annual Rates (alternative)</td><td>
          <ul>
            {{#each ar in alt_annual_rates}}
              <li>{{ar.year}}: {{ar.value}}</li>
            {{/each}}
          </ul>
        </td></tr>
      {{/if}}

    </table>
  {{/with}}
{{/if}}
