<h3><a href="#" {{action "toggleBody"}}>{{document.searchResultHeader}}</a></h3>
{{#if expanded}}
  {{#with document}}
    <table class="pure-table pure-table-bordered">

      {{#if event_name}}
        <tr><td>Event Name</td><td>{{event_name}}</td></tr>
      {{/if}}
      {{#if event_type}}
        <tr><td>Event Type</td><td>{{event_type}}</td></tr>
      {{/if}}
      {{#if start_time}}
        <tr><td>Start Time</td><td>{{start_time}}</td></tr>
      {{/if}}
      {{#if end_time}}
        <tr><td>End Time</td><td>{{end_time}}</td></tr>
      {{/if}}
      {{#if time_zone}}
        <tr><td>Time Zone</td><td>{{time_zone}}</td></tr>
      {{/if}}

      {{#if cost}}
        <tr><td>Cost</td><td>{{cost}}</td></tr>
      {{else}}
        <tr><td>Cost</td><td>0</td></tr>
      {{/if}}

      {{#if cost_currency}}
        <tr><td>Cost Currency</td><td>{{cost_currency}}</td></tr>
      {{/if}}
      {{#if registration_link}}
        <tr><td>Registration Link</td><td><a href="{{unbound registration_link}}" target="_blank">{{registration_link}}</a></td></tr>
      {{/if}}
      {{#if registration_title}}
        <tr><td>Registration Title</td><td>{{registration_title}}</td></tr>
      {{/if}}
      {{#if description}}
        <tr><td>Description</td><td>{{description}}</td></tr>
      {{/if}}
      {{#if url}}
        <tr><td>URL</td><td><a href="{{unbound url}}" target="_blank">{{url}}</a></td></tr>
      {{/if}}
      {{#if venue}}
        <tr><td>Venue</td><td>{{venue}}</td></tr>
      {{/if}}
      {{#if city}}
        <tr><td>City</td><td>{{city}}</td></tr>
      {{/if}}
      {{#if state}}
        <tr><td>State</td><td>{{state}}</td></tr>
      {{/if}}
      {{#if country}}
        <tr><td>Country</td><td>{{country}}</td></tr>
      {{/if}}

      {{#if contacts}}
        <tr><td>Contacts</td><td>
          <ol>
          {{#each contact in contacts}}
            <li><ul>
              <li>{{contact.first_name}} {{contact.last_name}}</li>
              {{#if contact.post}}
                <li>{{contact.post}}</li>
              {{/if}}
              {{#if contact.person_title}}
                <li>{{contact.person_title}}</li>
              {{/if}}
              {{#if contact.phone}}
                <li>{{contact.phone}}</li>
              {{/if}}
              {{#if contact.email}}
                <li>{{contact.email}}</li>
              {{/if}}
            </ul></li>
          {{/each}}
          </ol>
        </td></tr>
      {{/if}}

      {{#if venues}}
        <tr><td>Venues</td><td>
          <ol>
          {{#each venue in venues}}
            <li><ul>
              {{#if venue.venue}}
                <li>{{venue.venue}}</li>
              {{/if}}
              {{#if venue.city}}
                <li>{{venue.city}}</li>
              {{/if}}
              {{#if venue.state}}
                <li>{{venue.state}}</li>
              {{/if}}
              {{#if venue.country}}
                <li>{{venue.country}}</li>
              {{/if}}
              {{#if venue.country_name}}
                <li>{{venue.country_name}}</li>
              {{/if}}
            </ul></li>
          {{/each}}
          </ol>
        </td></tr>
      {{/if}}

      {{#if id}}
        <tr><td>ID</td><td>{{id}}</td></tr>
      {{/if}}

      {{#if start_date}}
        <tr><td>Start Date</td><td>{{start_date}}</td></tr>
      {{/if}}

      {{#if end_date}}
        <tr><td>End Date</td><td>{{end_date}}</td></tr>
      {{/if}}

      {{#if source}}
        <tr><td>Source</td><td>{{source}}</td></tr>
      {{/if}}

      {{#if first_name}}
        <tr><td>First Name</td><td>{{first_name}}</td></tr>
      {{/if}}

      {{#if last_name}}
        <tr><td>Last Name</td><td>{{last_name}}</td></tr>
      {{/if}}
      
      {{#if post}}
        <tr><td>Post</td><td>{{post}}</td></tr>
      {{/if}}

      {{#if person_title}}
        <tr><td>Person Title</td><td>{{person_title}}</td></tr>
      {{/if}}

      {{#if phone}}
        <tr><td>Phone</td><td>{{phone}}</td></tr>
      {{/if}}

      {{#if email}}
        <tr><td>Email</td><td>{{email}}</td></tr>
      {{/if}}

      {{search-result-row-list label="Industries" items=industries}}

      {{search-result-row-list label="ITA Industries" items=ita_industries}}

      {{search-result-row-list label="Trade Regions" items=trade_regions}}

      {{search-result-row-list label="World Regions" items=world_regions}}

    </table>
  {{/with}}
{{/if}}
