
{{#if showCcg}}

  <div id="country-commercial-guides">
    {{#unless showCcgReport}}
      <header>
      <h1>Search ITA Market Intelligence</h1>
      <a href="http://govwizely.github.io/content-explorer/#/lock-downs" style="float:right;margin-top:-100px;">Registered User</a>
      </header>
    {{/unless}}
    <div id="main">
      {{outlet}}
    </div>
  </div>

{{else}}

    {{app-topbar}}
    <div class="container">
      <div class="wrapper">
      {{app-header}}

        <section>
        <div id="body-content">
          {{view "select2"
            content=navItems
            prompt="Search APIs"
            selection=selectedSearchApi
            optionValuePath="content.value"
            optionLabelPath="content.label"}}
          <div id="main">
            {{outlet}}
          </div>
        </div>
        </section>

        {{app-footer}}
      </div>
    </div>

{{/if}}
