<div class="header">
  <h1>FAQs on Exporting</h1>
</div>
<div class="content">
  <form class="pure-form search" {{action "search" on="submit"}}>
    <fieldset>

      {{input class="pure-input-1" value=qField placeholder="Ask a question"}}

      <div class="pure-g">

        <div class="pure-u-1 pure-u-md-11-24">
          <label>First Published Date</label>
          <br>
          {{view "datepicker"
            value=firstPublishedDateFieldStart
            id="first-published-date-start"
            class="pure-u-9-24"}}
          To
          {{view "datepicker"
            value=firstPublishedDateFieldEnd
            id="first-published-date-end"
            class="pure-u-9-24"}}
        </div>

        <div class="pure-u-1 pure-u-md-11-24">
          <label>Last Published Date</label>
          <br>
          {{view "datepicker"
            value=lastPublishedDateFieldStart
            id="last-published-date-start"
            class="pure-u-9-24"}}
          To
          {{view "datepicker"
            value=lastPublishedDateFieldEnd
            id="last-published-date-end"
            class="pure-u-9-24"}}
        </div>

        <div class="pure-u-11-24">
          <label for="countries">Countries</label>
          {{view "select2"
            content=countryList
            selection=countriesField
            optionValuePath="content.value"
            optionLabelPath="content.label"
            id="countries"
            class="pure-u-23-24"
            multiple=true}}
        </div>

        <div class="pure-u-11-24">
          <label for="trade-regions">Trade Regions</label>
          {{view "select2"
            content=tradeRegionsList
            selection=tradeRegionsField
            optionValuePath="content.value"
            optionLabelPath="content.label"
            id="trade-regions"
            class="pure-u-23-24"
            multiple=true}}
        </div>

        <div class="pure-u-11-24">
          <label for="world-regions">World Regions</label>
          {{view "select2"
            content=worldRegionsList
            selection=worldRegionsField
            optionValuePath="content.value"
            optionLabelPath="content.label"
            id="world-regions"
            class="pure-u-23-24"
            multiple=true}}
        </div>

        <div class="pure-u-1">
          {{input type="submit" value="Search" class="pure-button pure-button-primary"}}
        </div>

      </div>

    </fieldset>
  </form>

  {{outlet}}
</div>
