<div class="header">
  <h1>Zip Code to USEAC</h1>
</div>
<div class="content">
  <form class="pure-form pure-form-stacked search" {{action "search" on="submit"}}>
    <fieldset>
      <label for="sources">Keyword</label>
      {{input class="pure-input-1" value=qField}}
      
      <label>ZIP Codes</label>
      {{input class="pure-input-1" value=zipCodesField}}


        {{input type="submit" value="Search" class="pure-u-1 pure-u-md-11-24 pure-button pure-button-primary"}}

    </fieldset>
  </form>

  {{outlet}}
</div>
